body {
  font-family: Arial;
  margin: 40px;
  background: #eef2f3;
}
form {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}
input {
  margin: 5px 0;
  padding: 5px;
}
